<div style="background:#9ED1F1; width:650px; text-align:center; margin:0 auto;">
    <div style="padding:10px">

        <div style="background-color:#ffffff; text-align:center; padding:20px;"><img src="<%=root_url[0..-2]%><%= asset_path('logo2-mg.png') %>" alt="Plataforma Minha Graduação" title="Plataforma Minha Graduação"></div>

        <div style="background-color:#008ECF; height:1px;"></div>

        <div style="background-color:#ffffff; padding:30px; font-family:sans-serif; font-size:14px; line-height:18px;">
            
            <br /><br />