<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      <p>Nome: <%= @name %></p>
      <p>E-mail: <%= @email %></p>
      <p>
        Mensagem:<br/>
        <%= @message %>
      </p>
    </div>
  </body>
</html>