<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá <%= @user.user_profile.name %></h1>
    <p>
      Um usuário gostou do seu vídeo.
    </p>
    <p>
      Para ver os detalhes copie o link abaixo:<br/>
      <%= @url %>.
    </p>
    <p>
      Muito obrigado por colaborar!<br/>
      Equipe minhagraduacao.com
    </p>
  </body>
</html>