<div style="background-color:#f0f0f0; width:100%; text-align:center;">
  <div style=" width:650px; margin:0 auto; text-align:left; padding:20px;">

      <div style="background-color:#0093cb; height:20px;"></div>

      <div style="background-color:#ffffff; text-align:center; padding:20px;"><img src="http://www.minhagraduacao.com/imagens/logo-mg.png" width="200"></div>

      <div style="background-color:#cccccc; height:1px;"></div>

      <div style="background-color:#ffffff; padding:30px; font-family:Arial; font-size:14px; line-height:18px;">
        <span style="color:#0093cb; font-size:21px;"><strong>Olá,</strong></span>
        <br /><br />
        <span><%= @user.user_profile.name %></span>
        <br /><br />
        <div style="font-family:Arial; font-size:14px; line-height:18px; text-align: justify;">
          A família Minha Graduação agradece sua colaboração. Sua contribuição é muito valiosa para que os jovens conheçam mais de perto o universo acadêmico, pois sabemos que, no começo, é um pouco assustador, e sua ajuda pode amenizar essa impressão.
          Obrigado por multiplicar essa ideia!
          Saudações ninjas!
        </div>
        <br /><br />
        <span>Obrigado!</span>
        <br /><br /><br />
        <span>Acesse o link abaixo e visualize o seu vídeo.</span>
        <br /><br />
        <strong><%= @url %></strong>
        <br /><br /><br />
        <span>Saudações!</span>
      </div>

      <div style="background-color:#333333; height:65px;">
          <div style="float:right; text-align:right; padding:20px;">
            <a href="https://twitter.com/minhagraduacao" target="_blank"><img src="http://www.minhagraduacao.com/imagens/socialtwitter.gif" width="25" /></a>
            <a href="http://www.facebook.com/minhagraduacao" target="_blank"><img src="http://www.minhagraduacao.com/imagens/socialfacebook.gif" width="25" /></a>
            <a href="http://www.youtube.com/minhagraduacao" target="_blank"><img src="http://www.minhagraduacao.com/imagens/socialyoutube.gif" width="25" /></a>
      </div>
    </div>

  </div>
</div>