<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Graduação</title>
  <%= render 'layouts/backend/shared/head' %>
</head>
<body class="login-body">

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "backend/application" %>

</body>
</html>