<div class="row">
	<div class="col-sm-12">
	  <section class="panel">
	  	<header class="panel-heading">
	  		<%= link_to new_employees_school_path, class: "btn btn-primary btm-sm" do %> <strong>Cadastrar</strong> <% end %>
	  	</header>
	  	<div class="panel-body">
	  		
	  		<%= grid(@schools) do |s|

	  			s.column name: 'ID', attribute: 'id' do |school|
	  				school.id
	  			end

	  			s.column name: 'Nome', attribute: 'no_entidade' do |school|
	  				school.no_entidade
	  			end

	  			s.column name: 'Total de avaliações', filter: false do |school|
            school.evaluation_schools.count(1)
          end

	  		end -%>

	  	</div>
    </section>
  </div>
</div>      