<% title "#{@institution.sigla} - #{@institution.name}" %>
<% keywords "Faculdades,Universidade,Graduação," + @institution.sigla + "," + @institution.name %>
<%- unless @institution.profile.avatar_updated_at.nil? %> 
  <% set_meta_tags :og => { :image => @institution.profile.avatar_url } %>
<% end %>

<%- @page_title = @institution.sigla  -%>
<%- @page_subtitle = @institution.name -%>

<div id="show_institution">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>

        <!-- Logo and Informations -->
        <div class="section-logo-informations">
          <%= render "site/institutions/shared/no_customer_section_logo_information" %>
        </div>
        <!-- End Logo and Informations -->
            
        <!-- Other Graduations -->
        <div class="section-graduations">
          <%= render "site/institutions/shared/section_other_graduations" %>
        </div>
        <!-- End Other Graduations -->
                    
      </div>
    </div>
  </div>
</div>

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=170129493193694&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

jQuery(document).ready(function() {
  location.hash && $(location.hash + '.collapse').collapse('show');
});
</script>