<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;Sobre</h5>
          <p>Nós somos uma rede colaborativa, profissionais e universitários dispostos a iluminar sua escolha, oferecendo vários pontos de vista sobre os mais diversos cursos. Explore o site, pondere novas possibilidades e não se desespere, no momento certo a cartada de ninja virá.</p>
          <div class="brand-bg">
            <!-- Social Media Icons -->
            <a href="https://www.facebook.com/pages/Minha-Gradua%C3%A7%C3%A3o/1449379048680016" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
          </div>
        </div>
      </div>  
      <div class="col-md-4">
        <!-- Foot Item -->
        <div class="foot-item">
          <div class="fb-like-box" data-href="https://www.facebook.com/pages/Minha-Gradua%C3%A7%C3%A3o/1449379048680016" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Queremos falar com você!</h5>
          <!-- Foot Item Content -->
          <div class="foot-item-content address">
            <!-- Heading -->
            <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;Onde ficamos?</h6>
            <!-- Paragraph -->
            <p class="add">
               Rua Barbosa de Freitas, 1741<br />
               CEP: 60.170-021<br />
               Fortaleza, Ceará</p>
            <p class="tel"> <i class="fa fa-phone"></i> Telefone : (85) - 3067-1000 / 3067-5002<br />
            <i class="fa fa-envelope"></i> Email : contato@minhagraduacao.com <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Foot Ends -->

<!-- Footer Starts -->

<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <p class="pull-left">Copyright &copy; 2016 - <%= link_to "Minha Graduação", root_path %>
      <ul class="list-inline pull-right">
        <!-- List -->
        <li><%= link_to 'Home', root_path %><li>
        <li><%= link_to 'Contato', contato_path %></li>
        <li><%= link_to 'Termos de Uso', term_of_use_path %></li>
      </ul>
      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53948148-1', 'auto');
    ga('send', 'pageview');
  </script>

</footer>