<div class="form-group">        
  <%= f.label :name, 'ID', class: 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
  </div>    
</div> 

<div class="form-group">        
  <%= f.label :name, 'Email', class: 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
  </div>    


</div> 