<div class="form-group">        
  <%= f.label :name, 'Nome', class: 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
  </div>    
</div> 

<div class="form-group">
  <label class="control-label col-md-2"></label>
  <div class="col-md-7">
    <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
  </div>
</div>