<div class="text-center">
  <h2>Como Funciona?</h2>
</div>

<div class="img-box-3 text-center">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="img-box-3-item">
        <a href="#"><img src="/assets/IconDuvida.png"></a>
          <h4>Dúvidas</h4> 
          <p>Alunos do Ensino Médio buscam resolve-las com ajuda de pais, amigos e testes vocacionais, porém não obtem sucesso.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="img-box-3-item">
        <a href="#"><img src="/assets/IconComunidade.png"></a>
        <h4><a href="#">Comunidade</a></h4>
        <p>Formada por milhares de universitários e de profissionais, eles irão ajudar com base de opiniões necessárias para a sua melhor decisão.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="img-box-3-item">
        <a href="#"><img src="/assets/IconEscolha.png"></a>
        <h4><a href="#">Escolha</a></h4>
        <p>Chegou a hora da cartada ninja! Você a partir de agora consegue escolher a graduação ideal.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="img-box-3-item">
        <a href="#"><img src="/assets/IconJuntesw.png"></a>
        <h4><a href="#">Faça Parte</a></h4>
        <p>Venha você também participar dessa rede colaborativa onde todos os dias está ajudando milhares de jovens em todo o Brasil (leva apenas 3 minutos).</p>
      </div>
    </div>
  </div>  
</div>