<%= render "mailers/shared/head" %>
    
    <div style="color:#33D4C7; font-size:26px; text-align:left;">
        <strong>Recuperar Senha</strong>
    </div>
    
    <br /><br /><br />
    
    <div style="text-align:left;">
        Olá <%= @user.profile.name %>,
    </div>
    
    <br /><br />
    
    <div style="text-align:left;">
        Alguém pediu para resetar sua senha na plataforma Agenda Kids.
    </div>
    
    <br /><br /><br /><br />
    
    <center><%= link_to 'Alterar minha senha', edit_password_url(@user, :reset_password_token => @token), {:style=>'font-size: 22px; color: white; background-color: #883BC4; border-color: #883BC4; padding: 16px 22px; line-height: 1.33; border-radius: 6px;'} %></center>
    
    <br /><br /><br /><br />
    
    <div style="text-align:left;">
        Obrigado, equipe Minha Graduação.
    </div>
    
    <br />
    
    <div style="color:#999999; font-size:12px; font-style:italic; text-align:left;">
        Caso não tenha sido você que solicitou esta confirmação, favor desconsiderar.
    </div>

<%= render "mailers/shared/footer" %>