<%- @page_internal_title = @graduation_group.name -%>

<!-- About Graduations -->
<div class="about-graduation">
  <div class="row">

    <div class="col-lg-12">
      <div class="row row-centered">
        <div style="text-align: justify">
          <div><%= @graduation_group.description %></div>
          <br />
          <em><%= @graduation_group.source %></em>
        </div>        
      </div>    
    </div>

  </div>
</div>
<!-- End About Graduations -->