<%- @page_internal_title = 'Termo de Uso' -%>

<div id="term-of-use">
  <div class="container">
    <div class="row spacer-row">
      <div class="col-md-12">

        <span style="text-align:justify;"> 

          <div class="sub-title"><h2>Aceitação dos Termos e Condições de Uso</h2></div>

          <p>
          Os Termos e Condições de uso regulamentam a utilização do site, que pertencem à SYSMILE - SERVICOS DE INFORMATICA LTDA, <u>localizada</u> à Av. Engenheiro Santana Júnior, nº 1423, Fortaleza CE, devidamente inscrita no CNPJ sob o nº 18.474.305/0001-09. A SYSMILE representa todos os direitos legais do site www.minhagraduacao.com, dessa forma ao utilizar o nome Minha Graduação nesse termo de uso, fica caracterizado como representante legal do site.
          </p>

          <p>
          Ao fazer uso do site minhagraduacao.com, você (a partir de agora denominado Usuário) concorda que leu, entendeu e aceitou os termos, regras e condições aqui dispostos.
          O site minhagraduacao.com se reserva o direito de modificar a qualquer momento a apresentação, configuração e disponibilização do Site. O mesmo se aplica a estes termos e condições de Uso, Política de Privacidade e estabelecidos como condição fundamental para a utilização do serviço. Todas as modificações serão avisadas através dos nossos veículos oficiais de comunicação, e-mail, o Usuário que, ao permanecer no sistema, demonstra que concordam com as modificações realizadas.
          </p>

          <p>
          O objetivo do site minhagraduacao.com em permitir que o Usuário voluntariamente coloque suas informações é facilitar a navegação do site e o uso de suas ferramentas. A pro atividade do Usuário em ceder seus dados significa que ele quer ser beneficiado com as ferramentas do minhagraduacao.com e concorda com os termos de privacidade.
          </p>

          <br />
          <div class="sub-title"><h2>Cadastro</h2></div>

          <p>
          O minhagraduacao.com assegurar a privacidade e a segurança das informações cedidas pelos usuários cadastrados (“Usuário”), sejam eles universitários, profissionais do mercado, jovens ou qualquer outro tipo de público. 
          </p>

          <p>
          Somente será permitido um único Cadastro por Usuário, sendo necessário para sua efetivação o preenchimento de todos os campos exigidos no respectivo formulário.
          </p>

          <p>
          O Usuário não pode utilizar palavras deselegantes ou ofensivas para criar seu login, bem como a utilização de marcas de terceiros, nomes de entidades e organizações, nomes protegidos por direitos autorais ou que violem quaisquer direitos de terceiros, sob pena de serem cancelados pelo minhagraduacao.com, ao seu livre e exclusivo critério.
          </p>

          <p>
          Para se tornar um Usuário, o primeiro passo é o seu cadastro pessoal, onde e-mail e senha são dados obrigatórios. Para finalizar o cadastro, é solicitado ao usuário confirmar o seu endereço de e-mail, através do clique em um link contido em um e-mail enviado ao usuário. O usuário poderá cadastrar e fornecer informações pessoais e profissionais relevantes aos objetivos do minhagraduacao.com. 
          </p>

          <p>
          O usuário também poderá utilizar o site utilizando a tecnologia de openid, que facilita o usuário a acessar o site utilizando outras plataformas, sejam elas de rede sociais ou quaisquer outras autorizadas pelo minhagraduacao.com. Caso o usuário deseje utilizar uma plataforma de openid, o minhagraduacao.com está autorizado a coletar informações do usuário, respeitando a política de privacidade das plataformas escolhidas pelo usuário.
          </p>

          <p>
          As informações adicionais podem ser colocadas tanto durante o cadastro, quanto num momento posterior de preferência do Usuário para alterar seu perfil pessoal. Dentre as possibilidades de informações adicionais.
          </p>

          <p>
          O Usuário tem direito de acessar, modificar, corrigir e eliminar os dados sobre ele referentes à sua decisão de ter se tornado um Usuário. Se o Usuário atualizar ou eliminar qualquer informação, o minhagraduacao.com poderá manter uma cópia das informações anteriores fornecidas por ele em nossos arquivos e documentações sobre uso do sistema.
          </p>

          <p>
          O minhagraduacao.com se reserva o direito de, a qualquer tempo, ao seu livre e exclusivo critério e sem aviso prévio, excluir o cadastro do usuário.
          </p>

          <p>
          Caso o usuário eventualmente perca ou sua senha de acesso, ele poderá solicitar sua senha através do link “esqueci minha senha”, será enviado um link para o e-mail do usuário, onde o mesmo deverá acessar e seguir as instruções para recuperação.
          </p>

          <br />
          <div class="sub-title"><h2>Utilização do Site</h2></div>

          <p>
          O Usuário reconhece que é responsável por quaisquer informações falsas que possam ser prestadas para a utilização do Site. O Usuário isenta o minhagraduacao.com de qualquer responsabilidade quanto à veracidade dos dados pessoais fornecidos por ele quando do uso do Site.
          </p>

          <p>
          O usuário poderá criar conteúdo através de vídeos, som, texto e imagens. Todo o conteúdo criado pelo usuário é de responsabilidade do mesmo, caso o conteúdo viole alguma informação de caráter violento, ofensivo, racista ou xenofóbico ou qualquer um que viole o espírito e objetivos do minhagraduacao.com e sua comunidade de usuários. O cadastro e conteúdo do usuário poderá ser excluído sem qualquer tipo de aviso prévio.
          </p>

          <br />
          <div class="sub-title"><h2>As obrigações do Usuário</h2></div>

          <p>
          É recomendável ao Usuário trocar de senha periodicamente, o que pode ser feito acessando-se a página no site.
          </p>

          <p>
          É dever do Usuário manter seus dados atualizados para a devida utilização do Site.
          </p>

          <p>
          É dever do Usuário obedecer aos atuais Termos de Uso e Direito de imagem o que inclui respeitar propriedade intelectual de terceiros.
          </p>

          <p>
          O Usuário não deve executar download, upload ou qualquer forma de disseminação de material ou informação de caráter violento, ofensivo, racista ou xenofóbico ou qualquer um que viole o espírito e objetivos do minhagraduacao.com e sua comunidade de usuários.
          </p>
          
          <p>
          O Usuário não deve prover ao minhagraduacao.com e/ou a qualquer outro Usuário informações que ele acredite serem danosas à sua pessoa ou socialmente.
          </p>

          <p>
          O Usuário se compromete a não utilizar o site para a publicação, criação, armazenamento e/ou divulgação de:
          </p>

          <p style="text-indent: 5em;">
          1) Conteúdo abusivo, como textos, fotos e/ou vídeos que tenham caráter difamatório, discriminatório, obsceno, ofensivo, ameaçador, abusivo, vexatório, prejudicial, que contenha expressões de ódio contra pessoas ou grupos, ou que contenha pornografia infantil, pornografia explícita ou violenta, conteúdo que possa ser danoso a menores, que contenha insultos ou ameaças religiosas ou raciais, ou que incentive danos morais (incluindo os corporais) e patrimoniais, ou que possa violar qualquer direito de terceiro, notadamente os direitos humanos.
          </p>
          <p style="text-indent: 5em;">
          2) Banners publicitários e/ou qualquer tipo de comércio eletrônico que seja considerado ilícito, assim entendidos os que sejam contrários à legislação ou ofendam direitos de terceiros.
          </p>
          <p style="text-indent: 5em;">
          3) Qualquer tipo de material (textos, fotos e/ou vídeos) protegido por direitos autorais, copyright ou que, por qualquer razão, violem direitos de terceiros.
          </p>
          <p style="text-indent: 5em;">
          4) Informações difamatórias e caluniosas ou que sejam contrárias à honra, à intimidade pessoal e familiar ou à imagem das pessoas (inclusive de pessoa jurídicas, entidades e organizações e ela equiparadas).
          </p>
          <p style="text-indent: 5em;">
          5) Material que incite à violência e à criminalidade, bem como à pirataria de produtos.
          </p>
          <p style="text-indent: 5em;">
          6) Conteúdo que provoque, por suas características (como extensões e formatos de arquivos) danos ao sistema do minhagraduacao.com.
          </p>

          <p>
          O Usuário concorda que, ao usar o site, não irá:
          </p>
          <p style="text-indent: 5em;">
          1)  Violar qualquer um destes Termos e Condições de Uso;
          </p>
          <p style="text-indent: 5em;">
          2) Praticar falsidade, assim entendidas a falsidade de informações (i.e: divulgação proposital e voluntária de informações que o Usuário saiba ser falsa ou que sejam notoriamente falsas) e a falsidade ideológica;
          </p>
          <p style="text-indent: 5em;">
          3) publicar ou transmitir qualquer conteúdo abusivo ou ofensivo nos comentários;
          </p>
          <p style="text-indent: 5em;">
          4) violar ou infringir direitos de propriedade intelectual, direitos fiduciários ou contratuais, direitos de privacidade ou publicidade de outros;
          </p>
          <p style="text-indent: 5em;">
          5) reunir dados pessoais ou comerciais, incluindo (mas não se limitando a) endereços de e-mail e/ou nomes de qualquer recurso da Internet, seja gerenciado por nós ou por terceiros, para fins comerciais, políticos, de benemerência ou outros, sem o consentimento dos proprietários desses dados;
          </p>
          <p style="text-indent: 5em;">
          6) reproduzir, replicar, copiar, alterar, modificar, criar obras derivativas a partir de, vender ou revender qualquer um dos serviços do minhagraduacao.com ou qualquer parte deles, incluindo websites e páginas web, ou as informações ou dados contidos nos serviços do minhagraduacao.com;
          </p>
          <p style="text-indent: 5em;">
          7) usar robôs, “spiders” ou qualquer outro dispositivo, automático ou manual, para monitorar ou copiar qualquer conteúdo do serviço do minhagraduacao.com;
          </p>
          <p style="text-indent: 5em;">
          8) transmitir conteúdo que não pertence ao Usuário ou que ele não tenha direito de publicar ou distribuir, seja sob lei ou contrato;
          </p>
          <p style="text-indent: 5em;">
          9) acessar o Site sem autorização, por meio de práticas de “hacking”, “password mining” ou qualquer outro meio fraudulento ou que represente violação a direito de terceiros;
          </p>
          <p style="text-indent: 5em;">
          10) realizar ou incentivar atividades ilegais, incluindo (mas não se limitando a) promover ou facilitar o acesso, uso ou venda de substâncias ou dispositivos perigosos;
          </p>
          <p style="text-indent: 5em;">
          11) deixar de cumprir com quaisquer leis, normas, regras, princípios e regulamentações aplicáveis;
          </p>
          <p style="text-indent: 5em;">
          12) ajudar qualquer terceiro a realizar qualquer uma das ações vedadas por estes Termos e Condições de Uso.
          </p>
          <p style="text-indent: 5em;">
          13) Conteúdo ofensivo a qualquer parceiro ou cliente do minhagraduacao.com.
          </p>

          <br />
          <div class="sub-title"><h2>Direitos de Propriedade Intelectual</h2></div>
          
          <p>
          O minhagraduacao.com respeita os direitos de propriedade intelectual de terceiros e requer que os Usuários façam o mesmo.
          </p>

          <p>
          Ao enviar qualquer conteúdo ou informação para o site, incluindo textos, tais como comentários, fóruns de discussão, comunidades, enquetes, testes, seção de dúvidas, participação em concurso cultural, fotografias, ilustrações, vídeos, arquivos de áudio e outros materiais, o Usuário declara autorizar, de forma gratuita, não exclusiva, perpétua, global e livre de royalty, o uso do material pelo minhagraduacao.com. Por qualquer modalidade e suporte, para publicação, reprodução, transmissão, retransmissão, distribuição, comunicação ao público, edição, adaptação e outras transformações, tradução para qualquer idioma, inclusão em quaisquer outras obras, representação, execução, uso por radiodifusão e outros meios de comunicação, mediante o emprego de qualquer tecnologia, exposição, inclusão em base de dados e quaisquer outras modalidades de utilização existentes ou que venham a ser inventadas no futuro, em quaisquer suportes existentes ou que venham a ser inventados no futuro, autorizando também a criação de obras derivadas e o sublicenciamento do material para uso em outras plataformas de comunicação, sem limite de tempo e território.
          </p>

          <p>
          Todos os direitos autorais patrimoniais sobre o material submetido pelo Usuário continua sendo de sua propriedade e seu nome será citado sempre que o material for utilizado pelo minhagraduacao.com, conforme informado pelo Usuário, exceto se o espaço ou suporte físico em que for figurar não possibilitar essa citação. O minhagraduacao.com não está obrigada a utilizar os materiais enviados pelo Usuário e está autorizada a editar os comentários enviados pelo Usuário.
          </p>

          <p>
          O Usuário reconhece e declara que em qualquer contribuição submetida para o Site, o material correspondente é de sua exclusiva criação, não constituindo violação de direitos autorais, marcas, segredos, direitos de personalidade, incluindo honra, intimidade, vida privada e a imagem das pessoas, direitos patrimoniais e quaisquer outros direitos de terceiros e que possui poderes para autorizar o uso do material pelo minhagraduacao.com conforme acima.
          </p>

          <p>
          Desde que citada a fonte (inclusive o nome do autor, quando possível e aplicável) e dentro das condições e limites previstos em lei, notadamente a Lei de Direitos Autorais (Lei n.º 9.610/98), o Usuário não pode reproduzir, publicar, apresentar, alugar, oferecer ou expor qualquer cópia de qualquer conteúdo pertencente ao minhagraduacao.com sem o consentimento do minhagraduacao.com ou, no caso de conteúdo de autoria de terceiros, sem o consentimento do autor ou autora.
          </p>

          <p>
          O Usuário se compromete a cumprir todas as leis nacionais e internacionais referentes aos Direitos de Propriedade Intelectual.
          </p>

          <p>
          O usuário autoriza que o conteúdo que foi criado pelo mesmo, possa ser utilizado em outras plataformas
          </p>

          <p>
          O usuário autoriza que os vídeos possam ser utilizados para fins lucrativos, com a vinculação de anúncios e estratégias de marketing, que gerem receitas a partir do número de visualizações do material criado pelo usuário.
          </p>
          
          <br />
          <div class="sub-title"><h2>Denúncia de abusos e violação</h2></div>

          <p>
          Todo conteúdo que o Usuário publica utilizando qualquer fórum de discussão é uma informação que, por sua natureza e característica, é pública, aberta e não confidencial. Ao revelar dados pessoais, tais como seu nome e endereço de e-mail nos comentários, o Usuário aceita e compreende que essa informação pode ser coletada e usada por outras pessoas para se comunicarem com ele, sem que seja imputável qualquer responsabilidade à site minhagraduacao.com. Desta forma, o minhagraduacao.com recomenda que o Usuário seja, portanto, cuidadoso ao decidir compartilhar qualquer dado pessoal em qualquer website.
          </p>

          <br />
          <div class="sub-title"><h2>Responsabilidades</h2></div>

          <p>
          O minhagraduacao.com não se responsabiliza por quaisquer danos sofridos pelo Usuário ou terceiros que, de qualquer modo, tenha origem ou dependência relacionada ao Site.
          </p>

          <p>
          O minhagraduacao.com se exime de quaisquer responsabilidades sobre prejuízos resultantes de qualquer interrupção ou erro no Site, incluindo a impossibilidade de acessar o Site e/ou os websites relacionados a ele.
          </p>

          <p>
          O minhagraduacao.com não é proprietária dos produtos oferecidos pelos Comerciantes [ou Anunciantes], não detém a posse deles, não realiza as ofertas de venda, tampouco, intervém na entrega dos produtos, cuja negociação se inicie no site.
          </p>

          <p>
          O minhagraduacao.com reconhece que não há nenhum envolvimento ou intervenção do minhagraduacao.com nos negócios celebrados com os Comerciantes no site. Em nenhum caso o minhagraduacao.com será responsável por qualquer dano ou prejuízo sofrido pelo Usuário em decorrência das negociações realizadas por meio do site, em função da conduta dos Comerciantes, inclusive, mas não se limitando, fraudes ou estelionato on line.
          </p>

          <p>
          O minhagraduacao.com não tem a obrigação de controlar, e efetivamente não controla, a oferta e comercialização de Produtos nas Lojas Virtuais de terceiros, as condições de venda dos Produtos estabelecidas pelos Comerciantes, e o cumprimento, pelo Comerciante, das obrigações decorrentes da oferta e comercialização dos Produtos.
          </p>

          <p>
          O minhagraduacao.com também não se responsabiliza pela transação efetuada entre Usuário e Comerciante, pelo efetivo cumprimento das obrigações assumidas pelos Comerciantes, nem pela existência, quantidade, qualidade, estado, licitude, integridade ou  legitimidade dos produtos oferecidos e/ou vendidos pelos Comerciantes no site. O minhagraduacao.com não outorga garantia por vícios ocultos ou aparentes nos produtos e/ou nas negociações entre os Usuários e Comerciantes.
          </p>

          <p>
          O Usuário reconhece e aceita que, ao realizar negociações com os Comerciantes, o faz por sua conta e risco, isentando o minhagraduacao.com de qualquer responsabilidade.
          </p>

          <br />
          <div class="sub-title"><h2>Privacidade de dados</h2></div>

          <p>
          O site de maneira especifica, recolhe, usa e divulga algumas informações de identificação pessoal necessárias para atingir os fins descritos na presente Política de Privacidade. Ao utilizar o minhagraduacao.com, o usuário reconhece e aceita este recolhimento, conforme descrito neste Instrumento.
          </p>

          <p>
          O minhagraduacao.com não se responsabiliza por quaisquer danos que o Usuário possa sofrer, que tenham origem na divulgação dos dados pessoais do Usuário ou de terceiros em materiais publicados em qualquer website.
          </p>

          <p>
          O minhagraduacao.com preserva a privacidade dos dados dos Usuários, e se compromete a revelar os dados pessoais do Usuário apenas devido a um dos seguintes motivos:
          </p>

          <p style="text-indent: 5em;">a) por lei;</p>
          <p style="text-indent: 5em;">b) por meio de uma ordem ou intimação de um órgão, autoridade ou tribunal com poderes para tanto e de jurisdição competente.</p>
          <p style="text-indent: 5em;">c) para garantir a segurança dos sistemas, resguardar direitos e prevenir responsabilidades do minhagraduacao.com.</p>

          <p>
          O minhagraduacao.com utiliza-se do aplicativo de “cookies” (dados no computador do Usuário) para permitir sua correta identificação, além de melhorar a qualidade das informações oferecidas em seu portal para os Usuários. O uso regular de cookies é uma prática aceitável na indústria, pois permite o armazenamento de informações importantes, como, por exemplo, os acessos do Usuário no minhagraduacao.com para posteriormente não ser apresentado um conteúdo repetido ou ultrapassado. Se não for a vontade do Usuário receber cookies, ou o mesmo desejar uma notificação prévia antes de seu uso, ele deverá programar, a seu critério, seu Web browser (navegador da Web) com estas opções, caso seu browser disponha do recurso.
          </p>

          <p>
          Além das informações pessoais fornecidas, o minhagraduacao.com tem a capacidade tecnológica de recolher outras informações técnicas, como o endereço de protocolo de Internet (IP) do Usuário, o sistema operacional do computador, localização através do geoip, o tipo de browser e o endereço de websites de referência.
          </p>
          
          <p>
          Conforme já determinado anteriormente, o minhagraduacao.com não fornecerá as informações do Usuário a terceiros sem prévia autorização do mesmo, com exceção de casos onde são necessários para responder às   solicitações ou perguntas de entidades governamentais, ou nos casos onde, de boa-fé, o minhagraduacao.com entender que é necessária a sua divulgação, com o propósito de responder às reclamações que o conteúdo submetido ao site infringe direitos de terceiros, ou seja, necessária para a proteção de direitos, propriedades e/ou segurança do minhagraduacao.com, de seus Usuários e/ou do público em geral.
          </p>

          <p>
          O minhagraduacao.com poderá, a seu critério, fazer uso das informações armazenadas nos seus bancos de dados, conforme descrito acima, por um prazo razoável, sem que exceda os requisitos ou limitações legais, para dirimir quaisquer disputas, solucionar problemas e garantir os direitos do minhagraduacao.com, assim como os termos e condições da presente Política de Privacidade.
          </p>

          <p>
          O minhagraduacao.com deverá também, a seu critério, examinar as informações armazenadas nos seus bancos de dados com o propósito de identificar Usuários com múltiplas identidades ou pseudônimos para fins legais e/ou de segurança. Em outra hipótese, se o minhagraduacao.com for obrigado por lei, ordem judicial ou outro processo legal, a divulgar alguma informação pessoal do Usuário, não hesitará em cooperar com estes agentes. Assim, por meio deste instrumento, o Usuário autoriza o minhagraduacao.com a divulgar estas informações pessoais para atender aos fins acima indicados.
          </p>

          <p>
          As informações cedidas pelo Usuário e registradas devido ao uso do sistema servirão como insumos para o mapeamento de informações de mercado e formação de estatísticas do minhagraduacao.com. Através do cadastramento, uso e fornecimento de informações ao minhagraduacao.com, o Usuário deliberadamente aceita os Termos de Uso e condições da Política de Privacidade sobre o uso de suas informações.
          </p>

          <p>
          As informações cedidas pelo Usuário que o torna pessoalmente identificável tem como objetivo fazer com os Usuários do minhagraduacao.com se relacionem melhor com os outros. Informações adicionais coletadas pelo minhagraduacao.com através da análise da navegação de cada Usuário e que não o torne identificável pessoalmente (como o padrão de navegação, por exemplo) são de propriedade exclusiva do minhagraduacao.com, que pode usar essas informações do modo que melhor julgar apropriada.
          </p>

          <p>
          Além disso, as informações fornecidas são usadas para: 
          </p>


          <p style="text-indent: 5em;">(a) administrar a conta dos Usuários a fim de customizar cada vez mais os serviços</p>
          <p style="text-indent: 5em;">(b) comunicar novidades e atualizações.</p>

          <p>
          O Usuário tem o direito de não aceitar esses termos e proceder com a remoção dos seus dados, mas a remoção dos dados não funcionarão de maneira retroativa, ou seja, as ações anteriores a essa decisão continuarão armazenados e com uso de acordo com os interesses do minhagraduacao.com.
          </p>

          <p>
          Neste sentido, para fechar a sua conta no minhagraduacao.com, realize o pedido aos administradores do site pelo e-mail contato@minhagraduacao.com.com
          </p>

          <br />
          <div class="sub-title"><h2>Uso de imagem</h2></div>
          
          <p>
          O usuário autoriza o uso de sua imagem em todo e qualquer material entre fotos, vídeos, documentos e outros meios de comunicação, para ser utilizada em campanhas promocionais e institucional. Sejam essas destinadas à divulgação ao público em geral e/ou apenas para uso interno desta instituição, desde que não haja desvirtuamento da sua finalidade. A presente autorização é concedida a título gratuito, abrangendo o uso da imagem em todo território nacional e no exterior, em todas as suas modalidades sejam elas comerciais ou sem fins lucrativos, em destaque, das seguintes formas: 
          </p>

          <p style="text-indent: 5em;">(I) out-door </p>
          <p style="text-indent: 5em;">(II) busdoor; folhetos em geral (encartes, mala direta, catálogo, etc.) </p>
          <p style="text-indent: 5em;">(III) folder de apresentação </p>
          <p style="text-indent: 5em;">(IV) anúncios em revistas e jornais em geral </p>
          <p style="text-indent: 5em;">(V) home page </p>
          <p style="text-indent: 5em;">(VI) cartazes </p>
          <p style="text-indent: 5em;">(VII) back-light; </p>
          <p style="text-indent: 5em;">(VIII) mídia eletrônica (painéis, vídeo-tapes, televisão, cinema, programa para rádio, internet, portais de vídeos, entre outros).</p>

          <p>
          Por esta ser a expressão o usuário que concorda com esse termo de uso declara que autoriza o uso de sua imagem e que nada haja a ser reclamado a título de direitos conexos à minha imagem ou a qualquer outro, e assino a presente autorização.
          </p>

          <br />
          <div class="sub-title"><h2>Canal de Comunicação com o Usuário</h2></div>

          <p>
          Se o Usuário tiver qualquer dúvida ou sugestão sobre o minhagraduacao.com, ele poderá encaminhar um email para o contato@minhagraduacao.com.com
          </p>

          <br />
          <div class="sub-title"><h2>Dados fornecidos ao usuário</h2></div>

          <p>
          O minhagraduacao.com informa que é uma parte das informações de IES (Instituições de ensino superior) e graduações relacionados com as mesmas, foram extraídos do censo de ensino superior, fornecidos pelo governo. Modificações foram realizadas para adequar o conteúdo ao sistema.
          </p>

          <br />
          <div class="sub-title"><h2>Legislação aplicável</h2></div>

          <p>
          Estes Termos e Condições de Uso são governados e interpretados segundo as leis da República Federativa do Brasil e todas as disputas, ações e outros assuntos relacionados serão determinados de acordo com essa 
          </p>

        </span>
  
      </div>
    </div>
  </div>
</div>