.graduation-list {
  color: #ffffff;
  text-decoration: none;
}

div.img-box-1-cap.img-graduations.img-graduations {
  border-top: auto;
}

.navigation .mgmenu li .dropdown_container  {
  width: inherit  
}