/*------------------------------------------------------------------------------------*/
/* Using on home */
/*------------------------------------------------------------------------------------*/
.btn-wrap{
    position: absolute;
    z-index: 999;
}

.font-navbar{
    color: #ffffff;
}

.define-title{
    top: 65px; 
    left: 350px;
    font-size: 56px;
    color: #ffffff;
    font-weight: 900;

}

.define-subtitle{ 
    top: 110px;
    left: 425px;
    font-size: 18px;
    color: #ffffff;
}

.button-university{
    font-family: 'cocogoose';
    color: #ffffff;
    top: 10px;
}