 <div class="header-2">
  <div class="container container-xs-height">
    <div class="row row-xs-height">
            
      <!-- Logo section -->
      <div class="col-md-2 col-xs-height col-middle">
        <div class="logo">
          <%= link_to image_tag("logo-minhagraduacao-2.png"), root_path, class: "center-block" %>
        </div>
      </div>
      <!-- End Logo section -->
      
      <!-- Search form -->
      <div class="col-md-6 col-xs-height col-middle">
        <form id="search-form" method="get" action="<%= search_path %>" class="form-search-internal" role="form">
          <div class="input-group input-group-lg">
            <input class="typeahead tt-query form-control input-lg control-label input-search-graduation" type="text" placeholder="Qual graduação você quer fazer?" autocomplete="off" spellcheck="false" dir="auto" name="q"/>
            <span class="input-group-btn">
              <button class="btn btn-lg  btn-lblue" type="submit">É bom?</button>
            </span>
          </div>
        </form>
      </div>
      <!-- End Search form -->

      <!-- Menu -->
      <div class="col-md-4 col-xs-height col-middle">          
        <%= render 'layouts/site/page_settings/pages_navbar' %>
      </div>
      <!-- End Menu -->

    </div>
  </div>
</div>